$background: rgb(133, 117, 192);

body {
  background: $background;
  font-family: "Montserrat", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.title {
  font-size: 24px;
}
.subtitle {
  font-style: italic;
}
.name {
  font-size: 14px;
}
.surname {
  font-size: 16px;
}
.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.testComponent {
  background: #fff;
  border-radius: 4px;
  border-radius: 1px solid #ccc;
  padding: 8px;
  margin: 8px;
}

.post {
  background: #fff;
  border-radius: 5px;
  border-radius: 2px solid rgb(201, 203, 236);
  padding: 8px;
  margin: 8px;
  width: 60%;
}
.content {
  font-style: italic;
  font-size: 18px;
}
.title {
  font-size: 30px;
}
.author {
  text-align: end;
  font-size: 14px;
}

.date {
  background: rgb(206, 145, 247);
  border-radius: 5px;
  border-radius: 2px solid rgb(201, 203, 236);
  padding: 8px;
  margin: 8px;
}

.value {
  background: rgb(206, 145, 247);
  border-radius: 5px;
  border-radius: 2px solid rgb(201, 203, 236);
  padding: 20px;
  margin: 8px;
}
.Button {
  background-color: rgb(105, 16, 128);
  color: white;
  font-size: 16px;
  padding: 15px 30px;
  border-radius: 8px;
  margin: 10px 0px;
  cursor: pointer;
}

.counter {
  background: rgb(195, 202, 241);
  border-radius: 5px;
  border-radius: 2px solid rgb(201, 203, 236);
  padding: 8px;
  margin: 8px;
  width: 40%;
  align-items: center;
}

.showInfo {
  background: rgb(168, 178, 238);
  border-radius: 5px;
  border-radius: 2px solid rgb(201, 203, 236);
  padding: 10px;
  margin: 8px;
  width: 20%;
}

.coolButton {
  //background-color: rgb(80, 5, 99);
  color: white;
  font-size: 20px;
  padding: 10px 30px;
  border-radius: 5px;
  margin: 10px 0px;
  background-image: linear-gradient(
    to bottom right,
    rgb(80, 5, 99),
    rgb(94, 117, 245)
  );
  cursor: pointer;
}

.input {
  padding: 10px;
  border-radius: 10px;
  background: rgb(203, 193, 240);
  box-shadow: rgb(65, 10, 87);
  font-size: 16px;
}

.textarea {
    padding: 10px;
    border-radius: 10px solid rgb(65, 10, 87);
    color: white;
    width:40%;
    height: 250px;
    background: rgb(55, 1, 80);
    box-shadow: rgb(65, 10, 87);
    resize: none;
    font-size: 16px;
  }

.form{
    margin: auto;
    width: 50%;
    flex-direction: column;
    border-radius: 10px;
    background-color: rgb(222, 188, 241);
}

.label{
    font-style: italic;
    padding: 10px;
}

.center{
  text-align: center;
}